.error {
  &-title {
    font-size: 4.69vh;
    font-weight: 500;
    margin: 0 0 4vh;
  }

  &-message {
    font-size: 1.76vh;

    &-light {
      color: #fff;
    }

    &-dark {
      color: #000;
    }

    &-component {
      font-size: 12px;
      font-weight: 400;
      width: 80%;
      text-align: center;
    }
  }

  &-link {
    color: #ff0101;
  }
}
