#barchart {
  grid-area: 1/1/1/4;
  background: $bg-grey;
  border-radius: 5px;
  position: relative;

  & svg {
    width: 100%;
    height: 100%;
  }
}

.barchart {
  &-title {
    font-size: 15px;
    font-weight: 500;
  }

  &-key {
    &-title {
      font-size: 14px;
      font-weight: 500;
    }
  }

  &-ticks {
    font-size: 14px;
    font-weight: 400;
    color: #9b9eac;
  }

  &-tooltip-box {
    font-size: 7px;
    font-weight: 500;
  }
}
