#columnchart {
  grid-area: 1/1/1/4;
  background: $bg-grey;
  border-radius: 5px;
  position: relative;

  & svg {
    width: 100%;
    height: 100%;
  }
}

.columnchart {
  &-title {
    font-size: 15px;
    font-weight: 500;
  }

  &-key {
    &-title {
      font-size: 14px;
      font-weight: 500;
    }
  }

  &-ticks {
    font-size: 14px;
    font-weight: 400;
    color: #9b9eac;
  }

  &-tooltip {
    position: absolute;
    left: 0;
    width: 2.71vw;
    height: 3.13vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #e60000;
    font-size: 0.68vh;
    font-weight: 500;
    opacity: 0;
  }
}
