.logo {
  width: 12.36vw;
}

.navbar {
  height: 8.89vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: $bg-dark;
  box-shadow: 0 4px 4px 0 rgba(#000, 0.25);
  &-list {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 6.32vw 0 1.94vw;
    list-style: none;
  }
  &-link {
    display: block;
    text-decoration: none;
    font-size: 2.34vh;
    font-weight: 500;
    color: white;
  }
}
