#radarchart {
  grid-area: 2/2/2/3;
  background: #282d30;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  & svg {
    max-width: 100%;
    max-height: 100%;
  }
}
.radarchart {
  &-title {
    font-size: 12px;
    font-weight: 500;
  }

  &-axis {
    stroke: #fff;

    & line {
      stroke: #fff;
    }

    & path {
      stroke: #fff;
    }
  }
}
