.activity-icon {
  width: 4.44vw;
  max-width: 64px;
}

.copyright {
  &-container {
    width: 8.19vw;
    height: auto;
    z-index: 1;
    padding-bottom: 5.76vh;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  font-size: 1.17vh;
  font-weight: 500;
  margin: 0 0 5.76vh;
  white-space: nowrap;
  transform: rotate(-90deg);
  color: white;
}

.vertical-navbar {
  width: 8.19vw;
  position: absolute;
  top: 8.89vh;
  bottom: 0;
  left: 0;
  background: #020203;
  box-shadow: 0 4px 4px 0 rgba(#000, 0.25);
  &-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 24.02vh 0 15.04vh;
    padding: 0;
    list-style: none;
  }
  &-link {
    display: block;
    text-decoration: none;
    padding: 0.98vh 0;
  }
}
